{% extends '@NetgenBlockManager/api/block/block.html.twig' %}

{% block content %}
    {% set content = block.dynamicParameter('content') %}

    {% if content is not empty %}
        <h3>Tags for "{{ ez_content_name(block.dynamicParameter('content')) }}":</h3>

        {% for tag in block.dynamicParameter('tags') %}
            <p>{{ tag.keyword }}</p>
        {% else %}
            <p>No tags</p>
        {% endfor %}
    {% else %}
        <p>No content selected</p>
    {% endif %}
{% endblock %}
